<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expert.cvd"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/covid19_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/covid19_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.expert.cvd.Impact.WorldOActivity"></activity>
        <activity android:name="com.expert.cvd.Impact.BBCActivity" />
        <activity
            android:name="com.expert.cvd.DevelopersActivity"
            android:parentActivityName="com.expert.cvd.HomeActivity" />
        <activity
            android:name="com.expert.cvd.Test.ClassifyActivity"
            android:parentActivityName="com.expert.cvd.Test.ResultActivity" />
        <activity
            android:name="com.expert.cvd.Preventive.SpreadActivity"
            android:parentActivityName="com.expert.cvd.Preventive.PreventiveActivity" />
        <activity
            android:name="com.expert.cvd.Preventive.MythActivity"
            android:parentActivityName="com.expert.cvd.Preventive.PreventiveActivity" />
        <activity
            android:name="com.expert.cvd.Preventive.PrecautionActivity"
            android:parentActivityName="com.expert.cvd.Preventive.PrecautionActivity" />
        <activity
            android:name="com.expert.cvd.Test.ResultActivity"
            android:parentActivityName="com.expert.cvd.Test.HealthActivity" />


        <activity android:name="com.expert.cvd.Impact.BingActivity" />
        <activity
            android:name="com.expert.cvd.Test.HealthActivity"
            android:parentActivityName="com.expert.cvd.HomeActivity" />
        <activity
            android:name="com.expert.cvd.Preventive.PreventiveActivity"
            android:parentActivityName="com.expert.cvd.HomeActivity" />
        <activity
            android:name="com.expert.cvd.Impact.ImpactActivity"
            android:parentActivityName="com.expert.cvd.HomeActivity" />
        <activity
            android:name="com.expert.cvd.HomeActivity"
            android:parentActivityName="com.expert.cvd.MainActivity" />
        <activity android:name="com.expert.cvd.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>